<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>爱投金融App</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="libs/layer/need/layer.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link>
</head>
<body>

<div class="main" id="contanter">

    <div class="w_loginbox">
        <h2><span class="fl">账号登录</span></h2>

        <div>
            <div class="w_register">
                <label class="w_labelicon"><img src="images/w_login_01.png"  alt=""/></label>
                <input type="text" placeholder="请输入用户名" v-model="loginParam.username" class="w_registerinput">
                <i class="w_clearicon"><img src="images/w_close_02.png"  alt=""/></i>
            </div>
            <div class="hr"></div>
            <div class="w_register">
                <label class="w_labelicon"><img src="images/w_login_01.png"  alt=""/></label>
                <input type="password" placeholder="请输入密码" v-model="loginParam.password" class="w_registerinput">
                <i class="w_clearicon"><img src="images/w_close_02.png"  alt=""/></i>
            </div>


            <div class="hr"></div>
            <div class="tr">&nbsp;</div>

            <div class="w_label_buttonbox">
                <button class="w_purebutton" type="button"  @click="login">登录</button>
            </div>

        </div>


    </div>




</div>

<script type="text/javascript" src="libs/fastclick.js"></script>
<script type="text/javascript" src="libs/layer/layer.js"></script>

<script type="text/javascript" src="libs/vue.min.js"></script>
<script type="text/javascript" src="libs/vue-resource-1.3.4.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script>




</script>

</body>
</html>
